@use "../../App.scss";

.profile-friends-styles {
  float: right;
  & > * {
    margin-right: 6px;
  }
}

@mixin friends-style($flex-direction, $width, $height) {
  .profile-friends-container {
    display: flex;
    flex-direction: $flex-direction;
    width: 100%;
    height: auto;
    & * {
      background: transparent;
    }
  }

  .profile-friend {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: App.$borderRadius;
    width: $width;
    height: $height;
    overflow: hidden;
    margin-bottom: App.$topPadding;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
      z-index: 4;
    }

    &:hover .profile-friend-banner {
      transform: scale(1.08);
    }
  }

  .profile-friend-banner {
    width: 100%;

    transition: transform ease-in-out 0.33s;
    img {
      max-height: none;
    }
  }

  .profile-friend-details {
    position: absolute;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 5;

    @if $flex-direction == "row" {
      flex-direction: column;
    } @else {
      flex-direction: row;
    }

    img {
      height: 64px;
      width: 64px;
      border-radius: 100%;
    }
  }

  .profile-friend-name {
    h4 {
      color: white;
    }
  }
}

.friend-banner-style {
  @include friends-style(column, 100%, 100%);
  .profile-friend-details {
    top: 18px;
    left: App.$topPadding;
  }

  .profile-friend {
    max-height: 100px;
    aspect-ratio: 16/9;
  }

  .profile-friend-name {
    margin-left: App.$topPadding;
  }
}

.friend-card-style {
  @include friends-style(row, 32%, auto);
  .profile-friends-container {
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .profile-friend-banner {
    height: 100%;
  }

  .profile-friend-details {
    top: 20%;
    padding: App.$topPadding;
  }

  .profile-friend {
    aspect-ratio: 5/7;
  }
}

.list-style-button {
  cursor: pointer;
  img {
    width: 32px;
    height: 32px;
    background-color: transparent;
    filter: brightness(0) invert(0.4);
  }
  &:hover {
    background-color: App.$hoverClr;
  }
  .active {
    filter: none;
    background-color: App.$hoverClr;
  }
}

// .profile-friends-container {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: auto;
//   & * {
//     background: transparent;
//   }
// }

// .profile-friend {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: App.$borderRadius;
//   max-height: 100px;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   margin-bottom: App.$topPadding;
//   position: relative;
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background: linear-gradient(
//       90deg,
//       rgba(0, 0, 0, 0.7) 0%,
//       rgba(0, 0, 0, 0.6) 100%
//     );
//     z-index: 4;
//   }

//   &:hover .profile-friend-banner {
//     transform: scale(1.08);
//   }
// }

// .profile-friend-banner {
//   width: 100%;
//   height: 100%;
//   max-height: none;
//   transition: transform ease-in-out 0.33s;
// }

// .profile-friend-details {
//   position: absolute;
//   top: 18px;
//   left: App.$topPadding;
//   background: transparent;
//   display: flex;
//   align-items: center;
//   z-index: 5;

//   img {
//     height: 64px;
//     width: 64px;
//     border-radius: 100%;
//   }
// }

// .profile-friend-name {
//   margin-left: App.$topPadding;
//   h4 {
//     color: white;
//   }
// }
